.video {
  overflow-x: hidden;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  filter: brightness(60%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/Hero/Fundo1.webp");
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  filter: brightness(0.9);
}

.arrow_down {
  margin: 0 auto;
  text-align: center;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  margin-bottom: 7vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transform: rotate(45deg);
  animation: arrowDownAnimation;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: ease;
}

@keyframes arrowDownAnimation {
  0% {
    margin-bottom: 4vh;
  }
  50% {
    margin-bottom: 8vh;
  }
  100% {
    margin-bottom: 4vh;
  }
}
